@import url(styles.css);

#foreword {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    gap: 50px;
}

#foreword img {
    height: 6em;
    object-fit: fill;
}

p, h3, h5 {
    color: var(--darkblck);
}

.p-title {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.p-title p {
    font-size: 36px;
    font-family: inherit;
}

.p-content {
    padding: 5px 0;
    width: 90vw;
    margin: auto;
}

.p-content div * {
    padding: 5px 0;
}

.p-content p *{
    padding: 0;
}

.p-title-img {
    height: 35px;
    width: 35px;
    padding-right: 15px;
}

li {
    margin: 5px 0;
}

.code-instaction {
    margin-top: 20px;
    border: 3px solid var(--darkblue);
    border-radius: 5px;
    background-color: var(--lightblue);
}

.code-instaction p {
    padding: 15px;
    color: var(--lightback)
}

.code {
    font-family: monospace;
    background-color: var(--lighterblue);
    border-radius: 5px;
}

.move {
    display: flex;
    align-items: center;
}

.move img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding: 20px;
}

.move img:hover {
    height: unset;
    width: unset;
}

.move div {
    width: 90%;
}
