@import url(styles.css);


#spaceship {
    position: fixed;
    background-color: var(--backgroundspecial);
    z-index: 5;
    width: 300px;
    border-radius: 20px;
    border-right: 1px solid var(--foreground2);
    border-bottom: 1px solid var(--foreground2);
    padding: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background3);
    gap: 10px;
}

a:hover {
    background-color: var(--foreground2);
}

a p {
    font-size: 14px;
    font-weight: 900;
}

a {
    text-decoration: none;
    padding: 5px;
}

a img {
    width: 48px;
    height: 48px;
}

.floor {
    display: flex;
    height: 70px;
    margin: 5px 0;
}

.floor:first-of-type {
    margin-top: 0;
}

.floor:last-of-type {
    margin-bottom: 0;
}

.floor a {
    width: 100%;
    margin: 0 2.5px;
}

.floor a:first-of-type {
    margin-left: 0;
}

.floor a:last-of-type {
    margin-right: 0;
}

#searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

#searchbar input {
    width: 70%;
    padding: 5px;
}

#searchbar button, #searchbar input {
    height: 40px;
    background-color: var(--background3);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--foreground1);
    border-right: 1px solid var(--foreground1);
}

#searchbar button {
    width: 50px;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar button:hover {
    background-color: var(--foreground2);
}

#setilite {
    position: sticky;
    width: 64px;
    height: 64px;
    z-index: 2;
    margin-left: 5px;
    margin-right: -69px;
    align-self: center;
}

#background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#welcome {
    background-color: var(--background3);
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome img {
    width: 90%;
}

.border {
    border-bottom: 1px solid var(--foreground1);
    border-right: 1px solid var(--foreground1);
    border-radius: 15px;
}

@media screen and (max-width: 500px) {
    #setilite {
        width: 32px;
        height: 32px;
        margin-right: -32px;
    }
}

@media screen and (min-width: 1500px) {
    #spaceship {
        width: 500px;
    }

    #welcome {
        height: 200px;
    }

    .floor {
        height: 140px;
    }

    a img {
        width: 98px;
        height: 98px;
    }

    a p {
        font-size: 23px;
    }

    #searchbar {
        height: 80px;
    }
}