:root {
    --background1: #0d0621;
    --background2: #171032;
    --background3: #1c1943;
    --background4: #27226b;
    --foreground1: #434aa6;
    --foreground2: #5a66b3;
    --no: #74bf85;
    --yes: #ff7485;
    --font: #afb8dd;
}

.yes {
    color: var(--yes);
}

.no {
    color: var(--no);
}

*, ::before, ::after {
    margin: 0;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

p, h3, a, button {
    color: var(--font);
}

p {
    font-size: 16px;
}

body {
    background: linear-gradient(90deg, var(--background1), var(--background2));
    display: flex;
    height: 100vh;
    width: 100vw;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.icon {
    background-color: var(--foreground2);
    border-radius: 50%;
}

::-webkit-scrollbar {
  width: 0;
}

#book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    gap: 5px;
}

.spell {
    width: 250px;
    height: 300px;
    background-color: var(--background3);
    padding: 0 10px;
    margin: 20px;
    border-radius: 3px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
    box-shadow: -16px 18px 29px 9px rgba(0,0,0,0.75);
}

.spell h3, .tabcontent {
    padding: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tabs {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.tab {
    height: 100%;
    width: 40px;
    background-color: var(--background4);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab:hover {
    background-color: var(--foreground1);
}

.tabs .active {
    background-color: var(--foreground2);
}

.tabcontent {
    text-align: justify;
}

.perks, .misc {
    display: none;
}

.table {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

#filter {
    position: fixed;
    right: 0;
    background-color: var(--background3);
    height: 100%;
    width: 25vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -15px 2px 30px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 2px 30px 4px rgba(0,0,0,0.75);
    box-shadow: -15px 2px 30px 4px rgba(0,0,0,0.75);
}

#onyx {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.show {
    display: flex;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#buttons button {
    background-color: var(--background4);
    border: none;
    width: 80px;
    height: 80px;
    margin: 10px;
}

#buttons .active {
    background-color: var(--foreground2);
}

#hideall {
    background-color: var(--background4);
    border: none;
}

#hideall:hover {
    background-color: var(--foreground1);
}

#hideall:active {
    background-color: var(--foreground2);
}

@media screen and (max-width: 480px) {
    #book {
        width: 80%;
    }

    #filter {
        width: 20vw;
    }

    #buttons button {
        width: 50px;
        height: 50px;
    }

    button p {
        font-size: 8px;
    }

    #onyx {
        width: 80px;
        height: 80px;
    }
  }