:root {
    --logowidth: 50px;
    --darkback: #141016;
    --darkblck: #13032c;
    --darkblue: #1f1a35;
    --lightblue: #555668;
    --lighterblue: #6f7088;
    --fontondark: #D2D7E0;
    --lightback: #F0EAD6;
    --darkerback: #e5dad6;
    --header: 50px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    background: linear-gradient(var(--darkback), var(--darkblck));
    height: var(--header);
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px;
} 

#header * {
    padding: 5px;
}

.left-side {
    display: flex;
    align-items: center;
}

.right-side {
    margin: 15px;
}

#search-bar {
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#search {
    width: 50vw;
}

.logo { 
    object-fit: cover;
    object-position: 50% 15%;
    width: 45px;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
}

#header a {
    text-decoration: none;
    color: var(--fontondark);
    font-weight: bolder;
}

#header a:hover {
    color: var(--lightback);
}

#main {
    background-color: var(--lightback);
    width: 100vw;
    height: 100vh;
    margin-top: var(--header);
    padding: 25px;
    text-align: justify;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    width: 200px;
    height: 50px;
    border: 1px solid var(--darkblck);
    background: linear-gradient(var(--darkerback), var(--darkback));
    color: var(--fontondark);
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    border: 1px solid var(--darkerback);
}

.button:active {
    background-color: var(--fontondark);
    color: var(--darkblck);
}