:root {
    --logowidth: 50px;
    --back-1:rgb(16, 15, 30);
    --back1:rgb(34, 32, 52);
    --back2:rgb(59, 57, 80);
    --back3:rgb(83, 81, 112);
    --front1:rgb(203, 219, 252);
    --front2:rgb(132, 126, 135);
    --header: 50px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, var(--back-1), var(--back2));
    overflow: hidden;
}

#mainpart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spaceship {
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: var(--back-1);
    z-index: 5;
}

#background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sky {
    position: absolute;
    width: 150%;
    height: 100%;
    z-index: 1;
}

.star1 {
    background-image: url(images/stars/starsky-1.png);
    animation: slide 3s linear infinite;
    z-index: 0;
}

.star2 {
    background-image: url(images/stars/starsky-2.png);
    animation: slide 4s linear infinite;
    z-index: -1;
}

.star3 {
    background-image: url(images/stars/starsky-3.png);
    animation: slide 5s linear infinite;
    z-index: -2;
}

.star4 {
    background-image: url(images/stars/starsky-4.png);
    animation: slide 6s linear infinite;
    z-index: -3;
}

.star5 {
    background-image: url(images/stars/starsky-5.png);
    animation: slide 7s linear infinite;
    z-index: -4;
}

/* @keyframes star-fly {
    from {
      transform: translateX(0vw);
    }
  
    to {
      transform: translateX(100vw);
    }
} */

@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-128px); /* The image width */
    }
  }