@import url(../../styles.css);

:root {
    --screen: #66c1b9;
    --stripe: rgba(10,10,10,0.1);
    --screenfont: #313131;
    --screenwidth: 600px;
    --screenheight: 360px;
}

#content {
    position: relative;
    right: 0;
    width: 90%;
    height: 90%;
    background-color: var(--backgroundspecial);
    z-index: 5;
    border-right: 2px solid var(--background4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header a {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

header a, header a img {
    width: 64px;
    height: 64px;
}

header a:hover {
    background-color: var(--foreground2);
}

header {
    padding: 10px;
}

#screenborder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: var(--background3);
    border-bottom: 1px solid var(--background4);
    border-right: 1px solid var(--background4);
    border-radius: 15px;
    width: var(--screenwidth);
    height: var(--screenheight);
}

#screenitself {
    position: relative;
    width: 86%;
    height: 86%;
    background-color: var(--screen);
}

#stripes {
    position: relative;
    width: 100%;
    height: 100%;
    animation: stripeflow 0.15s linear infinite;
    z-index: 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#stripes h3 {
    position: relative;
    z-index: 3;
    color: var(--screenfont);
    text-align: center;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#controlpanel {
    width: var(--screenwidth);
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.answer {
    border: none;
    outline: none;
    background-color: var(--background3);
    font-weight: 900;
    width: 30%;
    min-width: 200px;
    min-height: 70px;
    border-right: 1px solid var(--background4);
    border-bottom: 1px solid var(--background4);
    border-radius: 15px;
    padding: 15px;
    margin: 15px 0;
}

.answer:hover {
    background-color: var(--background4);
}

.answer:active {
    background-color: var(--background1);
    border: none;
    border-left: 1px solid var(--background4);
    border-top: 1px solid var(--background4);
}

@keyframes stripeflow {
    0% {
        background: repeating-linear-gradient(
            180deg,
            transparent,
            transparent 2px,
            var(--stripe) 2px,
            var(--stripe) 4px
          );
    }
    100% {
        background: repeating-linear-gradient(
            180deg,
            var(--stripe),
            var(--stripe) 2px,
            transparent 2px,
            transparent 4px
          );
    }
}

@media screen and (max-width: 700px) {
    #screenborder {
        margin-top: 23px;
        max-width: 96%;
    }

    button {
        max-width: 40%;
    }

    header a img {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1900px) {
    :root {
        --screenwidth: 1200px;
        --screenheight: 730px;
    }

    #controlpanel {
        gap: 30px;
    }

    * {
        font-size: 36px;
    }
}