@import url(../styles.css);

:root {
    --screen: #66c1b9;
    --stripe: rgba(10,10,10,0.1);
    --screenfont: #313131;
}

#content {
    position: relative;
    right: 0;
    width: 90%;
    height: 90%;
    background-color: var(--background2);
    z-index: 5;
    border-right: 2px solid var(--background4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header a {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

header a, header a img {
    width: 64px;
    height: 64px;
}

header a:hover {
    background-color: var(--foreground2);
}

header {
    padding: 10px;
}

#screenborder {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: var(--background3);
    border-bottom: 1px solid var(--background4);
    border-right: 1px solid var(--background4);
    border-radius: 15px;
    width: 600px;
    height: 360px;
}

#screenitself {
    position: relative;
    width: 86%;
    height: 86%;
    background-color: var(--screen);
}

#stripes {
    position: relative;
    width: 100%;
    height: 100%;
    animation: stripeflow 0.15s linear infinite;
}

#stripes h3 {
    color: var(--screenfont);
    text-align: center;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#controlpanel {
    align-self: center;
}

#controlpanel button {
    border: none;
    outline: none;
    background-color: var(--background3);
    font-weight: 900;
    width: 200px;
    height: 80px;
    border-right: 1px solid var(--background4);
    border-bottom: 1px solid var(--background4);
    border-radius: 15px;
}

#controlpanel button:hover {
    background-color: var(--background4);
}

@keyframes stripeflow {
    0% {
        background: repeating-linear-gradient(
            180deg,
            transparent,
            transparent 2px,
            var(--stripe) 2px,
            var(--stripe) 4px
          );
    }
    100% {
        background: repeating-linear-gradient(
            180deg,
            var(--stripe),
            var(--stripe) 2px,
            transparent 2px,
            transparent 4px
          );
    }
}